@model IEnumerable<siemens_volt.Models.AuditLog>

@{
    ViewData["Title"] = "Audit";
}

<h1>Audit</h1>

<p>
    <a asp-action="Create">Nový záznam</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.ActionLink("Timestamp", "Index", new { sortOrder = ViewBag.TimestampSortParm })
            </th>
            <th>
                @Html.ActionLink("Action", "Index", new { sortOrder = ViewBag.ActionSortParm })

            </th>
            <th>
                @Html.ActionLink("Description", "Index", new { sortOrder = ViewBag.DescriptionSortParm })
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Timestamp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Action)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.ID">Detail</a>
            </td>
        </tr>
}
    </tbody>
</table>
